
#page_title{
    font-size:40pt;
    font-weight:bold;
    width:100%;
    text-align: center;
    padding-bottom:5%;
    font-family:cursive;
}

#index_buttons{
    list-style-type: none;
    text-align:center;
    width:80%;
    padding-left:10%;
    padding-right:10%;
}

#home_link{
    font-size:28pt;
    background-color:darkgreen;
    color:white;
    border-color:black;
    border-width:3px;
    border-style:solid;
    border-radius: 4px;
    padding:5px;
} 

#home_link:hover{
    background: lightgreen;
    color:#333;
}

#index_buttons li{
    min-width:200px;
    min-height:200px;
    display:inline-block;
    padding-left:5%;
    padding-right:5%;
    text-align: center;
    font-size:24pt;
}
a{
    color:darkgreen;
    text-decoration:none;
}

a:hover{
    color:lightgreen;
}

#content_box{
    width:100%;
    min-height:50%;
    align-content: center;
    justify-content: center;
}

.recipe_button img{
    border-radius:10px;
}

.recipe_button img:hover{
    opacity: 0.7;
}

.recipe_content{
    text-align:center;
    line-height: 2em;
}

.recipe_content p, .recipe_content ol, .recipe_content ul{
    text-align:left;
    width:60%;
    margin:0% 20%;
}

.recipe_content ul{
    column-count:3;
}

.recipe_content img{
    border-radius: 5px;
    border-color:#000;
    border-style:solid;
    border-width:2px;
}
